[submodule "cartesi-blockchain-node"]
	path = cartesi-blockchain-node
	url = git@github.com:cartesi/cartesi-blockchain-node.git
[submodule "infrastructure"]
	path = infrastructure
	url = git@github.com:cartesi/infrastructure.git
[submodule "machine-manager"]
	path = machine-manager
	url = git@github.com:cartesi/machine-manager.git
